---
title: "<%= @metadata['name'] %>"
type: invest
---

<%= @metadata['description'] %>

| Resource           | Link                                                                                                   |
|--------------------|--------------------------------------------------------------------------------------------------------|
| Financial Calendar | [<%= @metadata['symbol'] %>.ics](<%= @metadata['geography_location'] %><%= @metadata['symbol'] %>.ics) |
