# <%= symbol %>

<style>
  table.reports {
    border-collapse: collapse;
  }

  table.reports thead th, table.reports tbody td {
    padding: 3px 5px;
  }

  table.reports td {
    border: 0px solid #FFFFFF;
  }

  table.reports thead .header-top {
    background-color: #000000;
    color: #FFFFFF;
  }

  table.reports thead .header-assets {
    background-color: #3D85C6;
    color: #FFFFFF;
  }

  table.reports thead .header-assets-non {
    background-color: #A2C4C9;
  }

  table.reports thead .header-assets-cur {
    background-color: #9FC5E8;
  }

  table.reports thead .header-assets-tot {
    background-color: #3D85C6;
    color: #FFFFFF;
  }

  table.reports thead .header-equity {
    background-color: #6AA84F;
    color: #FFFFFF;
  }

  table.reports thead .header-lia-non {
    background-color: #D5A6BD;
  }

  table.reports thead .header-lia-cur {
    background-color: #EA9999;
  }

  table.reports thead .header-lia-tot {
    background-color: #A64D79;
    color: #FFFFFF;
  }

  table.reports thead .header-equity {
    background-color: #6AA84F;
    color: #FFFFFF;
  }

  table.reports thead .header-liabilities {
    background-color: #A64D79;
    color: #FFFFFF;
  }

  table.reports thead .header-revenue {
    background-color: #674EA6;
    color: #FFFFFF;
  }

  table.reports thead .header-cashflow {
    background-color: #E69138;
    color: #FFFFFF;
  }

  table.reports tbody td.number {
    text-align: right;
  }

  table.reports tbody td.year-even, table.reports tbody td.quarter-even {
    text-align: center;
    background-color: #B7B7B7;
  }

  table.reports tbody td.year-odd, table.reports tbody td.quarter-odd {
    text-align: center;
    background-color: #D9D9D9;
  }

  table.reports tbody td.assets-non-h2 {
    background-color: #D0E0E3;
  }
  table.reports tbody td.assets-cur-h2 {
    background-color: #CFE2F3;
  }
  table.reports tbody td.assets-tot-h2 {
    background-color: #CFE2F3;
  }
  table.reports tbody td.assets-non-t3 {
    background-color: #A2C4C9;
  }
  table.reports tbody td.assets-cur-t3 {
    background-color: #9FC5E8;
  }
  table.reports tbody td.assets-tot-t3 {
    background-color: #9FC5E8;
  }
  table.reports tbody td.assets-non-a4 {
    background-color: #76A5AF;
  }
  table.reports tbody td.assets-cur-a4 {
    background-color: #6FA8DC;
  }
  table.reports tbody td.assets-tot-a4 {
    background-color: #6FA8DC;
  }

  table.reports tbody td.equity-h2 {
    background-color: #D9EAD3;
  }
  table.reports tbody td.equity-t3 {
    background-color: #B6D7A8;
  }
  table.reports tbody td.equity-a4 {
    background-color: #93C47D;
  }

  table.reports tbody td.liabilities-non-h2 {
    background-color: #EAD1DC;
  }
  table.reports tbody td.liabilities-cur-h2 {
    background-color: #F4CCCC;
  }
  table.reports tbody td.liabilities-tot-h2 {
    background-color: #F4CCCC;
  }
  table.reports tbody td.liabilities-non-t3 {
    background-color: #D5A6BD;
  }
  table.reports tbody td.liabilities-cur-t3 {
    background-color: #EA9999;
  }
  table.reports tbody td.liabilities-tot-t3 {
    background-color: #EA9999;
  }
  table.reports tbody td.liabilities-non-a4 {
    background-color: #C27BA0;
  }
  table.reports tbody td.liabilities-cur-a4 {
    background-color: #E06666;
  }
  table.reports tbody td.liabilities-tot-a4 {
    background-color: #E06666;
  }

  table.reports tbody td.revenue-h2 {
    background-color: #D9D2E9;
  }
  table.reports tbody td.revenue-t3 {
    background-color: #B4A7D6;
  }
  table.reports tbody td.revenue-a4 {
    background-color: #8E7CC3;
  }

  table.reports tbody td.cashflow-h2 {
    background-color: #FCE5CD;
  }
  table.reports tbody td.cashflow-t3 {
    background-color: #F9CB9C;
  }
  table.reports tbody td.cashflow-a4 {
    background-color: #F6B26B;
  }

</style>

<table class="reports">
  <thead>
    <tr>
      <th rowspan="3" class="header-top">Year</th>
      <th rowspan="3" class="header-top">Quarter</th>
      <th colspan="7" class="header-top">Balance</th>
      <th colspan="9" class="header-top">Revenue</th>
      <th colspan="8" class="header-top">Cashflow</th>
    </tr>
    <tr>
      <th colspan="3" class="header-assets">Assets</th>
      <th             class="header-equity">Equity</th>
      <th colspan="3" class="header-liabilities">Liabilities</th>
      <th rowspan="2" class="header-revenue">Sales</th>
      <th rowspan="2" class="header-revenue">Operating Expenses</th>
      <th rowspan="2" class="header-revenue">Operating Profit</th>
      <th rowspan="2" class="header-revenue">Financial Resut</th>
      <th rowspan="2" class="header-revenue">Profit Before Taxes</th>
      <th rowspan="2" class="header-revenue">Tax On Gains</th>
      <th rowspan="2" class="header-revenue">Net Profit</th>
      <th rowspan="2" class="header-revenue">Other</th>
      <th rowspan="2" class="header-revenue">Total Result</th>
      <th rowspan="2" class="header-cashflow">Operating</th>
      <th rowspan="2" class="header-cashflow">Investment</th>
      <th rowspan="2" class="header-cashflow">Financing</th>
      <th rowspan="2" class="header-cashflow">Total</th>
      <th rowspan="2" class="header-cashflow">Cash at Start</th>
      <th rowspan="2" class="header-cashflow">Cash at End</th>
      <th rowspan="2" class="header-cashflow">Capex</th>
      <th rowspan="2" class="header-cashflow">Free Cash Flow</th>
    </tr>
    <tr>
      <th class="header-assets-non">Noncurrent</th>
      <th class="header-assets-cur">Current</th>
      <th class="header-assets-tot">Total</th>
      <th class="header-equity">Total</th>
      <th class="header-lia-non">Noncurrent</th>
      <th class="header-lia-cur">Current</th>
      <th class="header-lia-tot">Total</th>
    <tr>
  </thead>
  <tbody>
    <%- index = -1 -%>
    <%- symbol_data.to_a.sort_by{|e| e[0]}.reverse.each do |year, year_data| -%>
      <%- quarters = year_data.to_a.sort_by{|e| e[0][1]}.reverse -%>
      <%- quarters.each do |quarter, data| -%>
    <tr class="row-<%= quarter.downcase %>">
      <%- if quarter == quarters[0][0] -%>
      <td rowspan="<%= quarters.size %>" class="year-<%= index += 1; index.even? ? 'even' : 'odd' %>"><%= year %></td>
      <%- end -%>
      <td class="quarter-<%= index.even? ? 'even' : 'odd' %>"><%= quarter %></td>
      <td class="number assets-non-<%= quarter.downcase %>"><%= format data['balance']['assets']['noncurrent'] %></td>
      <td class="number assets-cur-<%= quarter.downcase %>"><%= format data['balance']['assets']['current'] %></td>
      <td class="number assets-tot-<%= quarter.downcase %>"><%= format data['balance']['assets']['total'] %></td>
      <td class="number equity-<%= quarter.downcase %>"><%= format data['balance']['equity']['total'] %></td>
      <td class="number liabilities-non-<%= quarter.downcase %>"><%= format data['balance']['liabilities']['noncurrent'] %></td>
      <td class="number liabilities-cur-<%= quarter.downcase %>"><%= format data['balance']['liabilities']['current'] %></td>
      <td class="number liabilities-tot-<%= quarter.downcase %>"><%= format data['balance']['liabilities']['total'] %></td>
      <td class="number revenue-<%= quarter.downcase %>"><%= format data['revenue']['sales'] %></td>
      <td class="number revenue-<%= quarter.downcase %>"><%= format data['revenue']['operating_expenses'] %></td>
      <td class="number revenue-<%= quarter.downcase %>"><%= format data['revenue']['operating_profit'] %></td>
      <td class="number revenue-<%= quarter.downcase %>"><%= format data['revenue']['financial_resut'] %></td>
      <td class="number revenue-<%= quarter.downcase %>"><%= format data['revenue']['profit_before_taxes'] %></td>
      <td class="number revenue-<%= quarter.downcase %>"><%= format data['revenue']['tax_on_gains'] %></td>
      <td class="number revenue-<%= quarter.downcase %>"><%= format data['revenue']['net_profit'] %></td>
      <td class="number revenue-<%= quarter.downcase %>"><%= format data['revenue']['other'] %></td>
      <td class="number revenue-<%= quarter.downcase %>"><%= format data['revenue']['total_result'] %></td>
      <td class="number cashflow-<%= quarter.downcase %>"><%= format data['cashflow']['operating'] %></td>
      <td class="number cashflow-<%= quarter.downcase %>"><%= format data['cashflow']['investment'] %></td>
      <td class="number cashflow-<%= quarter.downcase %>"><%= format data['cashflow']['financing'] %></td>
      <td class="number cashflow-<%= quarter.downcase %>"><%= format data['cashflow']['total'] %></td>
      <td class="number cashflow-<%= quarter.downcase %>"><%= format data['cashflow']['cash_at_start'] %></td>
      <td class="number cashflow-<%= quarter.downcase %>"><%= format data['cashflow']['cash_at_end'] %></td>
      <td class="number cashflow-<%= quarter.downcase %>"><%= format data['cashflow']['capex'] %></td>
      <td class="number cashflow-<%= quarter.downcase %>"><%= format data['cashflow']['fcf'] %></td>
    </tr>
      <%- end -%>
    <%- end -%>
  </tbody>
</table>
